# Python basics
## das ist Markdown im Dropdownmenu
kann zum **Kommentieren** vom *code* benutzt werden
- einfach
- möglicherweise das neue Publikationsformat
- Shift enter zum Ausführen (=Textrendern)
- für Code dann eben Code auswählen, um den Markdowntext zu schreiben dann wieder markdown.
- auch um den *code* auszuführen Shift+Enter

In [1]:
print("Hello world")

Hello world

In [2]:
name = "Lovelace"

Ada Lovelace = daughter of lord Byron, first female programmer

In [4]:
print (name)

Lovelace

In [9]:
age = 73
size = 1.712

In [11]:
knows_math = True
print (knows_math)
likes_gardening = False
print (likes_gardening)

True
False

In [12]:
type(size)

float

In [13]:
type(age)

int

In [14]:
type(knows_math)

bool

In [15]:
print (name)

Lovelace

## Operators

In [20]:
age * 10

730

In [17]:
name + name

'LovelaceLovelace'

In [18]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [19]:
name + 24

TypeError: can only concatenate str (not "int") to str

In [21]:
name + str(24)

'Lovelace24'

In [23]:
name + str(age)

'Lovelace73'

In [25]:
size / age

0.023452054794520547

## functions and methods

In [27]:
# comment line
# print e.g. is a function
print (name)

Lovelace

In [29]:
len(name) #counts chars

8

In [31]:
# method is a special function bound to objects
# every object has methods bound to it
# object dot name_of_method
# object. <tab> to figure out which methods are available
name.upper()

'LOVELACE'

In [32]:
name = name.upper()

In [33]:
print(name)

LOVELACE

In [35]:
name.casefold()

'lovelace'

In [38]:
name.replace("LACE", " is everywhere")

'LOVE is everywhere'

In [39]:
# from Wikipedia:
# Die wesentlichen Ziele und Regeln der Sprache wurden mit einer Reihe kurzer, humorvoller Phrasen unter dem Titel The Zen of Python im Jahr 2004 herausgegeben.[18]
# Als kleines Easter Egg kann man sie mit dem Befehl

import this

# anzeigen lassen.[19]

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## list and dictionaries
there are two types of containers
- list
- dictionary

In [48]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]
# also mixed list possible names = ["Lovelace", "Darwin", 5,"Curie", "Hawking"]

In [42]:
print (names[0])

Lovelace

In [43]:
names2 = ["Lovelace", "Darwin", 5, "Curie", "Hawking"] #5 wird als string behandelt. siehe unten

In [45]:
names2[2]

5

In [46]:
type(names2[0])

str

In [49]:
# last list element
names[-1]

'Hawking'

In [50]:
len(names)

4

In [51]:
names[0:2] # subset: first number (0) included, last number (2) is EXcluded

['Lovelace', 'Darwin']

In [52]:
names[:2]

['Lovelace', 'Darwin']

In [53]:
names[2:]

['Curie', 'Hawking']

In [55]:
slicepoint = 3
print (names[:slicepoint])
print (names[slicepoint:])

['Lovelace', 'Darwin', 'Curie']
['Hawking']

### dictionary

In [56]:
authors_and_birth_years = {"Lovelace":1882, 
                           "Darwin":1809, 
                           "Noether":1892} # this are key value pairs

In [57]:
type(authors_and_birth_years)

dict

In [58]:
authors_and_birth_years["Darwin"] # man kann nicht z.B. den 3. Eintrag im dict auswählen. Nur den key explizit.

1809

In [60]:
# value kann auch eine List sein
years = [1991, 1029, 1092]
erdbeben = {"Berlin":1234,
           "Köln":years}

In [64]:
erdbeben["Köln"]

[1991, 1029, 1092]

## for loops
- 4 space indentation is convention

In [65]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [67]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [68]:
# keine Klammern, nur Einrückung
for name in names:
    print(name + " did awesome stuff")
    print("---------------------------")

Lovelace did awesome stuff
---------------------------
Darwin did awesome stuff
---------------------------
Curie did awesome stuff
---------------------------
Hawking did awesome stuff
---------------------------

In [91]:
for name in names:
    print(name + " did awesome stuff")
print("---------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
---------------------------

In [90]:
# looping und dict
# items method reads key and value
for author, birth_year in authors_and_birth_years.items():
    print(author + ", " + str(birth_year))
    # wenn man die elemente in print mit + verknüpft, dann müssen alle vom selben typ sein
    # deshalb muss birth_year in str umgewandelt werden.
    # Alternative wäre mit Komma, dann gehen auch unterschiedliche Datentypen, aber es wird immer ein space eingefügt
    print(author, ",", birth_year)

Lovelace, 1882
Lovelace , 1882
Darwin, 1809
Darwin , 1809
Noether, 1892
Noether , 1892

In [77]:
teilnehmer_jahr = {"Martin": 1972,
             "Alba": 1994,
             "Till": 1989}

In [83]:
for wer, wann in teilnehmer_jahr.items():
    print(wer, "was born in", wann)

Martin was born in 1972
Alba was born in 1994
Till was born in 1989

## Conditionals

In [102]:
temp = 25
if temp >= 25:
    print("It´s hot")
elif temp >15:    # else if
    print("Warm")
else:
    print ("Saukalt")
print("ende gelände")
# 1 if, 1 else, as many elif as I want

It´s hot
ende gelände